@page
@model Examensarbete.Pages.Filter.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["IsAdminSection"] = true;

}

<div class="mt-3 mb-3">
    <h2>Skapa Filter</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FilterViewModel.Text" class="control-label">Namn på filter:</label>
                <input asp-for="FilterViewModel.Text" class="form-control" />
                <span asp-validation-for="FilterViewModel.Text" class="text-danger"></span>
            </div>

            <h4>Vilka kategorier ska detta filter koppla genom?</h4>
            @for (int i = 0; i < Model.FilterViewModel.Categories.Count; i++)
            {
                <div class="form-group">
                    <input asp-for="FilterViewModel.Categories[i].IsSelected" type="checkbox" class="form-check-input" />
                    <label class="form-check-label">
                        @Model.FilterViewModel.Categories[i].CategoryName
                    </label>
                    <input asp-for="FilterViewModel.Categories[i].CategoryId" type="hidden" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
