@page
@model Examensarbete.Pages.Category.DetailsModel

@{
    ViewData["Title"] = "Kategoridetaljer";
    ViewData["IsAdminSection"] = true;
}

<div class="mt-3 mb-3">

    <!-- Rubrik -->
    <h4 class="mt-3 mb-3">@Model.Category.Name</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-baseline justify-content-start">
                        <h4 class="card-title me-1">Information</h4>
                        <a class="small text-primary" style="cursor:pointer; text-decoration: underline;" data-bs-toggle="modal" data-bs-target="#productModal">Ändra</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><strong>Namn: </strong>@Model.Category.Name</li>
                                <li><strong>Typ av kategori: </strong></li>
                                <li><strong>Kopplade kategorier: </strong></li>
                                <li><strong>Antal produkter: </strong></li>
                                <li><strong>Antal filter: </strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Knappar under card-->
            <div class="row mt-2">
                <div class="col d-flex justify-content-between">
                    <div>
                        <a asp-page="./Index" class="btn btn-secondary">Gå tillbaka</a>
                    </div>
                    <div>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Category.Id" onsubmit="return confirm('Är du säker på att du vill ta bort denna kategori?')" class="d-inline">
                            <button class="btn btn-danger" type="submit">
                                Ta bort
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Kategori modal -->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Ändra kategorier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Här vill jag kunna ändra namnet på kategorin -->
                </div>
            </div>
        </div>
    </div>



