@page
@model Examensarbete.Pages.AdminModel
@{
    ViewData["IsAdminSection"] = true;
}

<div class="mt-3 mb-3">
    <h2>Dashboard</h2>
</div>

<form method="post" asp-page-handler="MatchOrders">
    <button type="submit" class="btn btn-primary">Matcha orderdata</button>
</form>

<div class="mt-3 mb-3 text-center">
    <p>Här kanske vi vill ha någon typ av dashboard med information om antalet orderdata från varje år, kanske produkter inlagda etc.</p>
</div>
